

<%- include( "includes/home/head.ejs" ) %>
<body>
        
    <%- include( "includes/admin-appbar.ejs" ) %>
    <!-- <page-header></page-header> -->

    <main>
        <!-- [ highlights section ]
        ========================================================= -->
        <article class="highlights">
            <header>
                <title-pk title-pk="<%= title %>" color="var(--cp05)"></title-pk>
            </header>
            <form action="<%= edit ? '/edit-products' : '/add-products' %>" method="POST">
                <% if( edit ) { %>
                    <input type="hidden" name="productId" value="<%= product.id %>">
                <% } %>
                <p>
                    <label >
                        Titulo do produto
                        <input type="text" class="form-controll" name="title"
                        <%= edit ? product.title : '' %>>
                    </label>
                </p>
                <p>
                    <label >
                        Imagem principal
                        <input type="text" class="form-controll" name="image"
                        value="<%= edit ? product.image : '' %>">
                    </label>
                </p>
                <p>
                    <label >
                        Imagem 01
                        <input type="text" class="form-controll" name="image01"
                        value="<%= edit ? product.image01 : '' %>">
                    </label>
                </p>
                <p>
                    <label >
                        Imagem 02
                        <input type="text" class="form-controll" name="image02"
                        value="<%= edit ? product.image02 : '' %>">
                    </label>
                </p>
                <p>
                    <label >
                        Imagem 03
                        <input type="text" class="form-controll" name="image03"
                        value="<%= edit ? product.image03 : '' %>">
                    </label>
                </p>
                <p>
                    <label >
                        Descrição
                        <textarea cols="30" rows="10" class="form-control" name="description">
                        <%= edit ? product.description : '' %>
                        </textarea>
                    </label>
                </p>
                <p>Preço
                    <label >
                        Real
                        <input type="number" step="any" class="form-controll" name="price"
                        value="<%= edit ? product.price : '' %>">
                    </label><br>
                    <label >
                        Centavo
                        <input type="number" step="any" class="form-controll" name="price"
                        value="<%= edit ? product.cents : '' %>">
                    </label>
                </p>
                <p>Preço Antigo
                    <label >
                        Real
                        <input type="number" step="any" class="form-controll" name="price"
                        value="<%= edit ? product.oldPrice : '' %>">
                    </label><br>
                    <label >
                        Centavo
                        <input type="number" step="any" class="form-controll" name="price"
                        value="<%= edit ? product.oldCents : '' %>">
                    </label>
                </p>
                <center-btn>
                    <button-pk name="<%= edit ? 'Edit Product' : 'Add Product' %>" color="" width="50%"></button-pk>
                </center-btn>
            </form>
        </article>



    </main>
        
    <%- include( "includes/footer.ejs" ) %>
    <!-- <page-footer></page-footer> -->
    
    
    <script>
        /* [ swiperjs ]
            ============================================================== */
        /*  https://swiperjs.com/get-started
            https://www.jsdelivr.com/package/npm/swiper
            https://swiperjs.com/demos
        */
        var swiper = new Swiper( "*[slider-heighlights]", {
            slidesPerView: 4,
            spaceBetween: 25,
            loop: true,
            centerSlide: "true",
            fade: "true",
            grabCursor: "true",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        
            breakpoints:{
                0: { slidesPerView: 1, },
                520: { slidesPerView: 2, },
                830: { slidesPerView: 3, },
                950: { slidesPerView: 3, },
                1120: { slidesPerView: 4, },
            },
        } );

        var swiper = new Swiper( "*[slider-0-1anos]", {
            slidesPerView: 4,
            spaceBetween: 25,
            loop: true,
            centerSlide: "true",
            fade: "true",
            grabCursor: "true",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        
            breakpoints:{
                0: { slidesPerView: 1, },
                520: { slidesPerView: 2, },
                830: { slidesPerView: 3, },
                950: { slidesPerView: 3, },
                1120: { slidesPerView: 4, },
            },
        } );

        var swiper = new Swiper( "*[slider-2-3anos]", {
            slidesPerView: 4,
            spaceBetween: 25,
            loop: true,
            centerSlide: "true",
            fade: "true",
            grabCursor: "true",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        
            breakpoints:{
                0: { slidesPerView: 1, },
                520: { slidesPerView: 2, },
                830: { slidesPerView: 3, },
                950: { slidesPerView: 3, },
                1120: { slidesPerView: 4, },
            },
        } );
    </script>
</body>
</html>


