

<%- include( "includes/home/head.ejs" ) %>
<body>
        
    <%- include( "includes/admin-appbar.ejs" ) %>
    <!-- <page-header></page-header> -->

    <main>
        <!-- [ highlights section ]
        ========================================================= -->
        <article class="highlights">
            <header>
                <title-pk title-pk="<%= title %>" color="var(--cp05)"></title-pk>
            </header>
            <% if( products.length ) { %>
            <slider-spot>
                    <slider class="swiper" slider-heighlights>
                        <slider-modules class="swiper-wrapper">
                        <% for( let product of products ) { %>
                            <slide class="swiper-slide">
                                <card-pk
                                    name="<%= product.title %>" 
                                    desc="<%= product.description %>"
                                    real="<%= product.price %>" 
                                    cents="<%= product.cents %>"
                                    src="<%= product.image %>" 
                                    alt=""
                                    btn="Ver detalhes"
                                    url="/produto"
                                ></card-pk>
                            </slide>
                            <% } %>
                        </slider-modules>
                        <div class="swiper-pagination"></div>
                    </slider>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </slider-spot>
            <center-btn>
                <button-pk name="Ver mais" color="" width="50%"></button-pk>
            </center-btn>
        </article>

            
            <% } else { %>
                <p>Não há produtos cadastrados neste momento</p>
            </article>
            <% } %>



    </main>
        
    <%- include( "includes/footer.ejs" ) %>
    <!-- <page-footer></page-footer> -->
    
    
    <script>
        /* [ swiperjs ]
            ============================================================== */
        /*  https://swiperjs.com/get-started
            https://www.jsdelivr.com/package/npm/swiper
            https://swiperjs.com/demos
        */
        var swiper = new Swiper( "*[slider-heighlights]", {
            slidesPerView: 4,
            spaceBetween: 25,
            loop: true,
            centerSlide: "true",
            fade: "true",
            grabCursor: "true",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        
            breakpoints:{
                0: { slidesPerView: 1, },
                520: { slidesPerView: 2, },
                830: { slidesPerView: 3, },
                950: { slidesPerView: 3, },
                1120: { slidesPerView: 4, },
            },
        } );

        var swiper = new Swiper( "*[slider-0-1anos]", {
            slidesPerView: 4,
            spaceBetween: 25,
            loop: true,
            centerSlide: "true",
            fade: "true",
            grabCursor: "true",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        
            breakpoints:{
                0: { slidesPerView: 1, },
                520: { slidesPerView: 2, },
                830: { slidesPerView: 3, },
                950: { slidesPerView: 3, },
                1120: { slidesPerView: 4, },
            },
        } );

        var swiper = new Swiper( "*[slider-2-3anos]", {
            slidesPerView: 4,
            spaceBetween: 25,
            loop: true,
            centerSlide: "true",
            fade: "true",
            grabCursor: "true",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        
            breakpoints:{
                0: { slidesPerView: 1, },
                520: { slidesPerView: 2, },
                830: { slidesPerView: 3, },
                950: { slidesPerView: 3, },
                1120: { slidesPerView: 4, },
            },
        } );
    </script>
</body>
</html>


